<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<bindings>
    <comment>
        // Copyright © Tanner Gooding and Contributors. Licensed under the MIT License (MIT). See License.md in the repository root for more information.
        
        // Ported from um/winnt.h in the Windows SDK for Windows 10.0.19041.0
        // Original source is Copyright © Microsoft. All rights reserved.
        
    </comment>
    <namespace name="TerraFX.Interop">
        <struct name="CONTEXT" access="public" unsafe="true">
            <field name="ContextFlags" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="Dr0" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="Dr1" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="Dr2" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="Dr3" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="Dr6" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="Dr7" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="FloatSave" access="public">
                <type native="">FLOATING_SAVE_AREA</type>
            </field>
            <field name="SegGs" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="SegFs" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="SegEs" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="SegDs" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="Edi" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="Esi" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="Ebx" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="Edx" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="Ecx" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="Eax" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="Ebp" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="Eip" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="SegCs" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="EFlags" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="Esp" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="SegSs" access="public">
                <type native="DWORD">uint</type>
            </field>
            <field name="ExtendedRegisters" access="public">
                <type native="BYTE [512]" count="512" fixed="_ExtendedRegisters_e__FixedBuffer">byte</type>
            </field>
        </struct>
    </namespace>
</bindings>
